.card {
  background: #1e293b;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.toggle {
  width: 42px;
  height: 22px;
  background: #64748b;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  border: none;
  display: inline-block;
}
.toggle::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s ease;
}
.card.active .toggle {
  background-color: #ef4444;
}
.card.active .toggle::after {
  transform: translateX(20px);
}
#container {
  display: grid;
  gap: 20px;
  border: 3px solid red;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  margin: 40px auto;
  max-width: 900px;
}
body {
  background-color: #f1f5f9;
  color: #0f172a;
}
.d-inline-block {
  display: inline-block;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto 20px;
}
.header h1 {
  margin: 0;
  font-size: 2.5em;
  gap: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 20px auto;
  padding: 12px 20px;
  background: white;
  border-radius: 10px;
}
body.dark {
  background-color: #0f172a;
  color: white;
}
.filter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}
.filter a {
  padding: 6px 14px;
  border-radius: 20px;
  background: #334155;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.filter a.selected {
  background: #ff0a0a;
  color: white;
}
body.dark .navbar {
  background: #f5f6f7;
}
.card-top {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.icon {
  width: 40px;
  height: 40px;
}
.body.dark .card {
  background: #1e293b;
  color: white;
}
.dark-mode-toggle {
  cursor: pointer;
  background: #e2e8f0;
  border-radius: 8px;
  padding: 8px;
}
body.dark .dark-mode-toggle {
  background: #334155;
}
.dark-mode-toggle:hover {
  opacity: 0.8;
}
